body {
  background-color: antiquewhite;
  font-size: 20px;
  header {
    font-weight: 800;
    background-color: rosybrown;
    color: red;
    width: 900px;
    font-size: 20px;
	 text-shadow: black;
	 img {
		 width: 800px
		 
	 }
  }
}

@import "_footer"; 